// colors
$cream-color: #f2eae2;
$saurus-color: #6c7289;
$gunmetal-color: #1c232b;
$aquamarine-color: #3d8168;
$aquamarine-color-hover: #1a4032;

// fonts
$font-style-montserrat: "Montserrat", sans-serif;
$font-style-fraunces: "Fraunces", sans-serif;

//pixels
$ten-radius: 10px;
$min-height: 450px;
$min-width: 600px;

//paths to photo
$product-desktop: "./images/image-product-desktop.jpg";
$product-mobile: "./images/image-product-mobile.jpg";
